<html>
<head>@Model.Title</head>
<body>
    <div class="content">
        @Model.Content
    </div>
    <div>
    @if (Model.NextPost != null && Model.NextPost.Title != "")
    {
        <div>Next: <a href="../@Model.NextPost.Url">@Model.NextPost.Title</a></div>
    }
    @if (Model.PrevPost != null && Model.PrevPost.Title != "")
    {
        <div>Prev: <a href="../@Model.PrevPost.Url">@Model.PrevPost.Title</a></div>
    }

    @for (int i = 0; i < 10; i++)
    {
        <div>@i. Item</div>
    }
    </div>
</body>
</html>
